body {
    font-size: 14px;
    font-family: '微软雅黑';
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, input, button, textarea, p, blockquote, th, td, form, pre {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
a:link,
a:visited,
a:active,
a:hover {
    text-decoration: none;
}

a {
    color: #333;
}
label{
  margin-left:20px;
  margin-top:6px;  
}
a:focus {
    text-decoration: none;
    outline: none;
    color: #fff;
}
.table{
    border:none;
    margin-top:6px;
}

thead {
    background: #EEEEEE;
    border:none;
}

.table>thead>tr>th,
.table>tbody>tr>th,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>tbody>tr>td,
.table>tfoot>tr>td{
    text-align:center;
    vertical-align:middle;
    border:1px solid #ddd;
}


.pagination>.active>a,
.pagination>.active>span,
.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>.active>a:focus,
.pagination>.active>span:focus {
    background-color: #d9534f;
    border-color: #d9534f;
}
.pagination>li>a{
    position: relative;
    float: left;
    margin-left: -1px;
    line-height: 1.42857143;
 }
.dataTables_wrapper .dataTables_paginate .paginate_button {
    box-sizing:border-box;
    display:inline-block;
    padding:0;
    margin-left:-1px;
    text-align:center;
    text-decoration: none !important;
    text-decoration-line: none;
    text-decoration-style: initial;
    text-decoration-color: initial;
    cursor: pointer;
    color: #fff !important;
    border-radius: 2px;
}

#tenant_arount_show_table{
    border-collapse: collapse;
    border-spacing: 0;
    border:1px solid #ddd;
}
.table-bordered>tbody>tr>td{
    padding: 2px;
}