<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
  <body>
      <div th:fragment="charging" role="tabpanel" class="tab-pane" id="details_two">
                    <div class="view_body">
                        <div class="view_search">
                            <span>租户名称</span><input type="text" name="detail_username" value="" />
                            <span style="margin-left: 20px">文件名称</span><input type="text" name="filename" value="" />
                            <span style="margin-left: 20px">文件格式</span><input type="text" name="fileType" value="" />
                            <button type="button" class="btn btn-danger">搜索</button>
                            <a href="#" class="export">导出</a>
                        </div>
                        <div class="box">
                            <div class="box-body table-responsive">
                                <table id="charging_table" class="table table-bordered">
                                    <thead>
                                        <tr style="text-align: center">
                                            <th width="5%">序号</th>
                                            <th width="10%">租户名称</th>
                                            <th width="20%">文件名称</th>
                                            <th width="15%">文件大小</th>
                                            <th width="10%">文件格式</th>
                                            <th width="10%">储存目录</th>
                                            <th width="10%">上传时间</th>
                                            <th width="10%">上传状态</th>
                                            <th width="10%">失败原因</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>srident</td>
                                            <td>Internet Explorer 4.0</td>
                                            <td>Win 94+</td>
                                            <td> 4</td>
                                            <td>X</td>
                                            <td>Win 94+</td>
                                            <td> 4</td>
                                            <td>X</td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>Trident</td>
                                            <td>Internet Explorer 5.0</td>
                                            <td>Win 95+</td>
                                            <td>5</td>
                                            <td>C</td>
                                            <td>Win 94+</td>
                                            <td> 4</td>
                                            <td>X</td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>Tasman</td>
                                            <td>Internet Explorer 5.1</td>
                                            <td>Mac OS 7.6-9</td>
                                            <td>1</td>
                                            <td>C</td>
                                            <td>Win 94+</td>
                                            <td> 4</td>
                                            <td>X</td>
                                        </tr>
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
  </body>
</html>
