<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
  <body>
      <div th:fragment="charging" role="tabpanel" class="tab-pane" id="details_two">
                    <div class="view_body">
                        <div class="view_search">
                            <span>租户名称</span><input type="text" name="detail_username" value="" />
                            <span style="margin-left: 20px">文件名称</span><input type="text" name="filename" value="" />
                            <span style="margin-left: 20px">文件格式</span><input type="text" name="fileType" value="" />
                            <button type="button" class="btn btn-danger">搜索</button>
                            <a href="#" class="export">导出</a>
                        </div>
                        <div class="box">
                            <div class="box-body table-responsive">
                                <table id="charging_table" class="table table-bordered">
                                    <thead>
                                        <tr>
                <th rowspan="2">租户</th>
                <th rowspan="2">服务类型</th>
                <th rowspan="2">租户分类</th>
                <th colspan="3">资源具备期</th>
                <th colspan="7">计费日期确定</th>
                <th rowspan="2">联通引入方</th>
                <th rowspan="2">引入方联系人（租户管理员）</th>
                <th rowspan="2">联系方式</th>
                <th rowspan="2">申请日期</th>
                <th rowspan="2">是否签署合同</th>
                <th rowspan="2">月租备注</th>
                <th rowspan="2">退租时间</th>
                <th rowspan="2">备注</th>
                <th rowspan="2">选项</th>
             </tr>
            <tr>
                <th>资源</th>
                <th>统一及4A</th>
                <th>数据实际具备</th>
                <th>入驻时长</th>
                <th>月租费用（元/月）</th>
                <th>数据报价/万元</th>
                <th>起租日期</th>
                <th>试用期</th>
                <th>计费时期</th>
                <th>到期时期</th>
            </tr>
                                       
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
        </div>
    </body>
</html>
