<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
  <meta charset="UTF-8" />
</head>
  <body>
      <div th:fragment="distribute" role="tabpanel" class="tab-pane active" id="details_one">
           <div class="view_body">
              <div class="view_search" style="margin: 20px 0;">
                   <span>租户</span><input type="text" style="width:140px;height:26px;" id="tenantName" name="tenantName" value="" />                       
                   <span>租户负责人</span><input type="text" style="width:140px;height:26px;" id="tenantBoss" name="tenantBoss" value=""/>   
                   <button type="button" class="btn btn-danger" style="margin-left:90px;margin-right:30px" th:onclick="'clickDisTable()'">查询</button>
                   <button type="button" class="btn btn-danger" th:onclick="'cleanDisSearch()'">清空</button>
                   <!-- <button class="btn btn-danger export" style="margin-left:30px;" th:onclick="'exportDisFile()'"><i class="layui-icon">&#xe601;</i> 导出   </button><br/> -->
                   <a href="#" class="export" th:onclick="'exportDisFile()'">导出</a>
               </div>
               <!-- <div class="tools-header">
                   <i class="upload_icon"></i>
                   <a href="#" class="upload" data-toggle="modal" data-target="#addToolModal" style="margin-left:1200px;">新增内容</a>
               </div> -->
              <div class="tools_tab">
                <div class="tools_body">
                    <div class="box">
                        <div class="box-body table-responsive" style="margin-top: 10px;">
                            <table id="tools_table" class="table table-bordered display nowrap" >
                                <thead>
                                    <tr style="text-align: center">
                                           <th>序号</th><th>服务类型</th><th>租户</th>
                                           <th>租户级别</th><th>租户负责人</th><th>联系电话</th>
                                           <th>资源类型</th><th>文件数</th><th>存储</th>
                                           <th>存储使用量</th><th>存储使用占比</th>
                                           <th>CPU</th><th>CPU最大</th><th>CPU平均</th><th>内存</th>
                                           <th>内存最大</th><th>内存平均</th><th>申请时间</th>
                                           <th>变更时间</th><th>开放时间</th><th>操作</th>
                                       </tr>
                                   </thead>
                                   <tbody>
                                      
                                   </tbody>
                               </table>
                           </div>
                       </div>
                   </div>
                </div>
         </div>
         <div class="modal fade" id="addToolModal" tabindex="-1" role="dialog" aria-labelledby="addToolModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">新增内容</h4>
                    </div>
                    <div class="modal-body" style="padding-left: 20px;">
                        <form id="addToolForm"  class="form-horizontal"  method="get">
                            <div class="form-group">
                                <label for="serviceType" class="control-label col-md-2 ">服务类型</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" id="add-serviceType" name="serviceType" placeholder="请输入服务类型"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="tenantName" class="control-label col-md-2 ">租户</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" id="add-tenantName" name="tenantName" placeholder="请输入租户"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="tenantLevel" class="control-label col-md-2 ">租户级别</label>
                                <div class="col-md-9">
                                    <select class="form-control" name="tenantLevel" id="add-tenantLevel" >
                                       <option value="0">小</option>
                                       <option value="1">中</option>
                                       <option value="2">大</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="tenantBoss" class="control-label col-md-2 ">租户负责人</label>
                                <div class="col-md-9">
                                    <input class="form-control" id="add-tenantBoss" name="tenantBoss" placeholder="请输入租户负责人"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="tenantTel" class="control-label col-md-2 ">联系电话</label>
                                <div class="col-md-9">
                                    <input class="form-control" id="add-tenantTel" name="tenantTel" placeholder="请输入联系电话"/>
                                </div>
                            </div>
                             <div class="form-group">
                                <label for="resourceType" class="control-label col-md-2 ">资源类型</label>
                                <div class="col-md-9">
                                    <select class="form-control"  name="resourceType" id="add-resourceType">
                                        <option value="1">Flume</option>
                                        <option value="2">FTP集群</option>
                                        <option value="3">Hbase</option>
                                        <option value="4">hue</option>
                                        <option value="5">Hive</option>
                                        <option value="6">IMPALA</option>
                                        <option value="7">KAFKA</option>
                                        <option value="8">MPP</option>
                                        <option value="9">Mysql</option>
                                        <option value="10">Oracle</option>
                                        <option value="11">Redis</option>
                                        <option value="12">spark</option>
                                        <option value="13">storm</option>
                                        <option value="14">接口机</option>
                                        <option value="15">虚拟机</option>
                                        <option value="16">物理裸机</option>
                                        <option value="17">应用服务器</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="fileCount" class="control-label col-md-2 ">文件数</label>
                                <div class="col-md-9">
                                    <input class="form-control" id="add-fileCount" name="fileCount" placeholder="请输入文件数"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="storage" class="control-label col-md-2 ">存储</label>
                                <div class="col-md-9">
                                    <input class="form-control" id="add-storage" name="storage" placeholder="请输入存储大小"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="storageUsage" class="control-label col-md-2 ">存储使用量</label>
                                <div class="col-md-9">
                                    <input class="form-control" id="add-storageUsage" name="storageUsage" placeholder="请输入存储使用量"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="storageUsageRate" class="control-label col-md-2 ">存储使用占比</label>
                                <div class="col-md-9">
                                    <input class="form-control" id="add-storageUsageRate" name="storageUsageRate" placeholder="请输入存储使用占比"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="cpuNum" class="control-label col-md-2 ">CPU</label>
                                <div class="col-md-9">
                                    <input class="form-control" id="add-cpuNum" name="cpuNum" placeholder="请输入CPU大小"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="cpuMax" class="control-label col-md-2 ">CPU最大</label>
                                <div class="col-md-9">
                                    <input class="form-control" id="add-cpuMax" name="cpuMax" placeholder="请输入CPU最大值"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="cpuAvg" class="control-label col-md-2 ">CPU平均</label>
                                <div class="col-md-9">
                                    <input class="form-control" id="add-cpuAvg" name="cpuAvg" placeholder="请输入CPU平均值"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="memorySize" class="control-label col-md-2 ">内存</label>
                                <div class="col-md-9">
                                    <input class="form-control" id="add-memorySize" name="memorySize" placeholder="请输入内存"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="memoryMax" class="control-label col-md-2 ">内存最大</label>
                                <div class="col-md-9">
                                    <input class="form-control" id="add-memoryMax" name="memoryMax" placeholder="请输入内存最大值"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="memoryAvg" class="control-label col-md-2 ">内存平均</label>
                                <div class="col-md-9">
                                    <input class="form-control" id="add-memoryAvg" name="memoryAvg" placeholder="请输入内存平均值"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="askDate" class="control-label col-md-2 ">申请时间</label>
                                <div class="col-md-9">
                                    <input class="Wdate" id="add-askDate" name="askDate"  th:onClick="'WdatePicker()'" placeholder="请输入申请时间"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="changeDate" class="control-label col-md-2 ">变更时间</label>
                                <div class="col-md-9">
                                    <input class="Wdate" id="add-changeDate" name="changeDate"  th:onClick="'WdatePicker()'" placeholder="请输入变更时间"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="openDate" class="control-label col-md-2 ">开放时间</label>
                                <div class="col-md-9">
                                    <input class="Wdate" id="add-openDate" name="openDate"  th:onClick="'WdatePicker()'" placeholder="请输入开放时间"/>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-danger" id="addToolBtn">提交</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="addReloadHTML">关闭</button>
                </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="uploadToolModal" tabindex="-1" role="dialog" aria-labelledby="uploadToolModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">编辑内容</h4>
                    </div>
                    <div class="modal-body" style="padding-left: 20px;">
                        <form id="updateToolForm" class="form-horizontal"  method="get">
                           <input id="update-tdId" type="hidden" name="tdId"/>
                           <div class="form-group">
                                <label for="serviceType" class="control-label col-md-2 ">服务类型</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" id="update-serviceType" name="serviceType" readonly="readonly" placeholder="请输入服务类型"/>
                                </div>
                            </div>
                             <div class="form-group">
                                <label for="tenantName" class="control-label col-md-2 ">租户</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" id="update-tenantName" name="tenantName" readonly="readonly" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="tenantLevel" class="control-label col-md-2 ">租户级别</label>
                                <div class="col-md-9">
	                                <select name="tenantLevel" class="form-control" id="update-tenantLevel" disabled="disabled">
	                                   <option value="0">小</option>
	                                   <option value="1">中</option>
	                                   <option value="2">大</option>
	                                </select>
                                   <!--  <input rows="4" cols="20" class="form-control" id="add-tenantLevel" name="tenantLevel" placeholder="请输入租户级别"/> -->
                                </div>
                            </div>
                             <div class="form-group">
                                <label for="tenantBoss" class="control-label col-md-2 ">租户负责人</label>
                                <div class="col-md-9">
                                    <input class="form-control" id="update-tenantBoss" name="tenantBoss" readonly="readonly"/>
                                </div>
                            </div>
                             <div class="form-group">
                                <label for="tenantTel" class="control-label col-md-2 ">联系电话</label>
                                <div class="col-md-9">
                                    <input class="form-control" id="update-tenantTel" name="tenantTel" readonly="readonly"/>
                                </div>
                            </div>
                             <div class="form-group">
                                <label for="resourceType" class="control-label col-md-2 ">资源类型</label>
                                <div class="col-md-9">
                                <select class="form-control" name="resourceType" id="update-resourceType" disabled="disabled">
                                    <option value="1">Flume</option>
                                    <option value="2">FTP集群</option>
                                    <option value="3">Hbase</option>
                                    <option value="4">hue</option>
                                    <option value="5">Hive</option>
                                    <option value="6">IMPALA</option>
                                    <option value="7">KAFKA</option>
                                    <option value="8">MPP</option>
                                    <option value="9">Mysql</option>
                                    <option value="10">Oracle</option>
                                    <option value="11">Redis</option>
                                    <option value="12">spark</option>
                                    <option value="13">storm</option>
                                    <option value="14">接口机</option>
                                    <option value="15">虚拟机</option>
                                    <option value="16">物理裸机</option>
                                    <option value="17">应用服务器</option>
                                </select>
                                   <!--  <input rows="4" cols="20" class="form-control" id="add-resourceType" name="resourceType" placeholder="请输入密码"/> -->
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="fileCount" class="control-label col-md-2 ">文件数</label>
                                <div class="col-md-9">
                                    <input  class="form-control" id="update-fileCount" name="fileCount" readonly="readonly"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="storage" class="control-label col-md-2 ">存储</label>
                                <div class="col-md-9">
                                    <input class="form-control" id="update-storage" name="storage" placeholder="请输入存储大小"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="storageUsage" class="control-label col-md-2 ">存储使用量</label>
                                <div class="col-md-9">
                                    <input class="form-control" id="update-storageUsage" name="storageUsage" placeholder="请输入存储使用量"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="storageUsageRate" class="control-label col-md-2 ">存储使用占比</label>
                                <div class="col-md-9">
                                    <input class="form-control" id="update-storageUsageRate" name="storageUsageRate" placeholder="请输入存储使用占比"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="cpuNum" class="control-label col-md-2 ">CPU</label>
                                <div class="col-md-9">
                                    <input class="form-control" id="update-cpuNum" name="cpuNum" placeholder="请输入CPU大小"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="cpuMax" class="control-label col-md-2 ">CPU最大</label>
                                <div class="col-md-9">
                                    <input class="form-control" id="update-cpuMax" name="cpuMax" placeholder="请输入CPU最大值"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="cpuAvg" class="control-label col-md-2 ">CPU平均</label>
                                <div class="col-md-9">
                                    <input class="form-control" id="update-cpuAvg" name="cpuAvg" placeholder="请输入CPU平均值"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="memorySize" class="control-label col-md-2 ">内存</label>
                                <div class="col-md-9">
                                    <input class="form-control" id="update-memorySize" name="memorySize" placeholder="请输入内存"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="memoryMax" class="control-label col-md-2 ">内存最大</label>
                                <div class="col-md-9">
                                    <input class="form-control" id="update-memoryMax" name="memoryMax" placeholder="请输入内存最大值"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="memoryAvg" class="control-label col-md-2 ">内存平均</label>
                                <div class="col-md-9">
                                    <input class="form-control" id="update-memoryAvg" name="memoryAvg" placeholder="请输入内存平均值"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="askDate" class="control-label col-md-2 ">申请时间</label>
                                <div class="col-md-9">
                                    <input class="Wdate" id="update-askDate" name="askDate" th:onClick="'WdatePicker()'" placeholder="请输入申请时间"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="changeDate" class="control-label col-md-2 ">变更时间</label>
                                <div class="col-md-9">
                                    <input class="Wdate" id="update-changeDate" name="changeDate" th:onClick="'WdatePicker()'" placeholder="请输入变更时间"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="openDate" class="control-label col-md-2 ">开放时间</label>
                                <div class="col-md-9">
                                    <input class="Wdate" id="update-openDate" name="openDate" th:onClick="'WdatePicker()'"  placeholder="请输入开放时间"/>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" id="updateToolBtn">提交</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal" id="updateReloadHTML">关闭</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="alertModal" tabindex="-1" role="dialog" aria-labelledby="alertModalLabel">
        <div class="modal-dialog" role="document" style="width: 350px;">
            <div class="modal-content" style="width: 350px;">
                <div class="modal-body" style="text-align: center;font-weight: bold;padding: 30px;">
                </div>
                <div class="modal-footer" style="text-align: center;padding: 5px;">
                    <button type="button" class="btn btn-danger btn-xs" id="removeTool">确定</button>
                    <button type="button" class="btn btn-default btn-xs" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>
    <form id="deleteToolForm" th:action="@{/users/delete}" method="get">
        <input type="hidden" id="delete-tdId" name="tdId"/>
    </form>
    <script type="text/javascript" th:inline="javascript">
     window.onscroll = function(){
            $('.fixedHeader-floating th').css('text-align','center');
    } 
    </script>
    </div>              
  </body>
</html>