<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
  <meta charset="UTF-8" />
  <head th:include="frame/common :: header"></head>
  <link type="text/css" rel="stylesheet" th:href="@{/css/manage/tenant_arount_show.css}"/>
  <script type="text/javascript" th:src="@{/js/manage/tenant_arount_show.js}"></script>
  <title>实施自动化管理页面</title>
</head>
<body>

	<div class="view_contianer">
      <!-- <div class="view_header">
            <h5>自动化管理页面</h5>
            <span>统计文件和文件夹个数生成Excel</span>
        </div>  -->
       <div class="view_tab">
           <!-- Nav tabs -->
           <ul class="nav nav-tabs" role="tablist" id="view_tabs">
               <li role="presentation" class="active"><a href="#roundView" aria-controls="view" role="tab" data-toggle="tab" id="taround-view">租户信息</a></li>
           	   <li role="presentation"><a href="#details_health" aria-controls="details_health" role="tab" data-toggle="tab" id="detail-health">全量导出</a></li>
           </ul>
           <!-- Tab panes -->
	           <div class="tab-content">
		            <!-- 租户周边信息的tab -->
		            <div th:replace="fragment/taround_frg :: taround_view"></div> 
		            <!-- 接口健康界面 -->
                	<div th:replace="fragment/health_frg :: health"></div> 
			   </div>
        </div>
    </div>
    <!-- 租户周边信息界面的弹框-->
    	<div th:replace="fragment/taround_frg :: around_add"></div> 
    	<div th:replace="fragment/taround_frg :: around_edit"></div> 
    	<div th:replace="fragment/taround_frg :: around_alert"></div> 
    	<div th:replace="fragment/taround_frg :: around_upload"></div> 
    	
    
     <form id="deleteTenArrForm" th:action="@{/manage/deleteTenantAroundMgr}" method="get">
        <input type="hidden" id="delete-ttaId" name="ttaId"/>
    </form>
    
    <script type="text/javascript" th:src="@{/js/view/health_view.js}"></script>
    <script type="text/javascript" th:inline="javascript">
     window.onscroll = function(){
            $('.fixedHeader-floating th').css('text-align','center');
    } 
    </script>
</body>
</html>
