<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
  <meta charset="UTF-8" />
  <head th:include="frame/common :: header"></head>
  <script type="text/javascript" th:src="@{/manage/tenant_arount_show.js}"></script>
</head>
<body>
     <div class="row" style="margin-left: 100px; margin-top: 30px;"
            role="tabpanel" id="details">
            <div class="form-inline details-search-form ">
                <label>租户：</label>
                <input type="text" name="tenantName" id="tenantName" class="form-control input-sm" style="height: 34px; width: 180px"  th:value="${tenantName}" />
                <label>平台接口人：</label>
                <input type="text" name="tenantInterface" id="tenantInterface" class="form-control input-sm" style="height: 34px; width: 180px"  th:value="${tenantInterface}"/>
                <button type="button" class="btn btn-danger" style="margin-left:30px;margin-right:30px;" th:onclick="'clickTable()'">查询</button>
                <button type="button" class="btn btn-danger" th:onclick="'cleanSearch()'">清空</button>
                <button class="btn btn-danger import" style="margin-left:30px;margin-right:30px;" th:onclick="'uploadFile()'">
                    <i class="layui-icon"></i> 导入
                </button>
                <button class="btn btn-danger export" style="margin-left:25px;margin-right:30px;" th:onclick="'exportFile()'">
                    <i class="layui-icon"></i> 导出
                </button>
            </div>
     </div>
    <!--  <a th:href="@{admin/users/add}"  class="btn btn-danger" style="float: right; margin-right: 150px; margin-top:-20px;margin-bottom:10px;">添加</a>--> 
      <a href="#" class="upload" data-toggle="modal" data-target="#addAroundTenantModal">新增</a>
    <!-- id="tenretired_table" -->
     <table id = "tenant_arount_show_table" class="table table-bordered table-hover" width="100%">
         <thead>
             <tr style="text-align: center">
                  <th>序号</th>
                 <th>租户Id</th>
                 <th>租户名</th>
                 <th>租户级别</th>
                 <th>租户负责人</th>
                 <th>租户负责人联系电话</th>
                 <th>统一平台个数</th>
                 <th>4A个数</th>
                 <th>需求</th>
                 <th>平台接口人</th>                 
                 <th>修改</th>
                 <th>删除</th>
             </tr>
         </thead>
         <tbody>
         </tbody>
    </table>
    
    
     <div class="modal fade" id="addAroundTenantModal" tabindex="-1" role="dialog" aria-labelledby="addToolModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">新增</h4>
                </div>
                
                <div class="modal-body" style="padding-left: 20px;">
                    <form id="addTenForm"  class="form-horizontal" method="get">
                    
                        <div class="form-group">
                            <label for="tenantId" class="control-label col-md-2 ">租户Id</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="addaround-tenantId" name="tenantId" placeholder="请输入租户Id"/>
                            </div>
                        </div>
                          <div class="form-group">
                            <label for="tenantName" class="control-label col-md-2 ">租户名</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="addaround-tenantName" name="tenantName" placeholder="请输入租户名"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="tenantLevel" class="control-label col-md-2 ">租户级别</label>
                            <div class="col-md-9">
                                <select  class="form-control" id="addaround-tenantLevel">
                                    <option  value="0">小</option>
                                    <option  value="1">中</option>
                                    <option  value="2">大</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="tenantBoss" class="control-label col-md-2 ">租户负责人</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="addaround-tenantBoss" name="tenantBoss" placeholder="请输入租户负责人"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="tenantTel" class="control-label col-md-2 ">联系电话</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="addaround-tenantTel" name="tenantTel" placeholder="请输入联系电话"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="numOfUnifiedPlatform" class="control-label col-md-2 ">统一平台数量</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="addaround-numOfUnifiedPlatform" name="numOfUnifiedPlatform" placeholder="输入统一平台数量"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="numOf4a" class="control-label col-md-2 ">4A数量</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="addaround-numOf4a" name="numOf4a" placeholder="输入统4A数量"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="tenantReqirement" class="control-label col-md-2 ">需求</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="addaround-tenantReqirement" name="tenantReqirement" placeholder="输入需求"/>
                            </div>
                        </div>
                     
                        <div class="form-group">
                            <label for="tenantInterface" class="control-label col-md-2 ">平台接口人</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="addaround-tenantInterface" name="tenantInterface" placeholder="输入平台接口人"/>
                            </div>
                        </div>
                        
                        
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" id="addTeantAroundMgrBtn">提交</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="addReloadHTML">关闭</button>
                </div>
            </div>
        </div>
    </div>
    
    
     <div class="modal fade" id="uploadTenModal" tabindex="-1" role="dialog" aria-labelledby="uploadTenModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">编辑类型</h4>
                </div>
                <div class="modal-body" style="padding-left: 20px;">
                    <form id="updateTenForm"  class="form-horizontal"  method="get">
                       <input id="update-tlId" type="hidden" name="tlId"/>
                         <div class="form-group">
                            <label for="tenantId" class="control-label col-md-2 ">租户Id</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="update-tenantId" name="tenantId" placeholder="请输入租户Id"/>
                            </div>
                        </div>
                          <div class="form-group">
                            <label for="tenantName" class="control-label col-md-2 ">租户名称</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="update-tenantName" name="tenantName" placeholder="请输入租户"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="tenantLevel" class="control-label col-md-2 ">租户级别</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="update-tenantLevel" name="tenantLevel" placeholder="请输入租户级别"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="tenantBoss" class="control-label col-md-2 ">租户负责人</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="update-tenantBoss" name="tenantBoss" placeholder="请输入租户负责人"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="tenantTel" class="control-label col-md-2 ">联系电话</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="update-tenantTel" name="tenantTel" placeholder="请输入联系电话"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="numOfUnifiedPlatform" class="control-label col-md-2 ">统一平台数量</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="update-numOfUnifiedPlatform" name="numOfUnifiedPlatform" placeholder="输入统一平台数量"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="numOf4a" class="control-label col-md-2 ">4A数量</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="update-numOf4a" name="numOf4a" placeholder="输入统4A数量"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="tenantReqirement" class="control-label col-md-2 ">需求</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="update-tenantReqirement" name="tenantReqirement" placeholder="输入需求"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="tenantInterface" class="control-label col-md-2 ">平台接口人</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="update-tenantInterface" name="tenantInterface" placeholder="输入平台接口人"/>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" id="updateTenBtn" th:onclick="'click()'">提交</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="updateReloadHTML">关闭</button>
                </div>
            </div>
        </div>
    </div>
    
    
      <div class="modal fade" id="alertModal" tabindex="-1" role="dialog" aria-labelledby="alertModalLabel">
        <div class="modal-dialog" role="document" style="width: 350px;">
            <div class="modal-content" style="width: 350px;">
                <div class="modal-body" style="text-align: center;font-weight: bold;padding: 30px;">
                </div>
                <div class="modal-footer" style="text-align: center;padding: 5px;">
                    <button type="button" class="btn btn-danger btn-xs" id="removeTool">确定</button>
                    <button type="button" class="btn btn-default btn-xs" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>
    
    <div class="modal fade" id="uploadFileModal" tabindex="-1" role="dialog" aria-labelledby="alertModalLabel">
        <div class="modal-dialog" role="document" style="width: 350px;">
            <div class="modal-content" style="width: 350px;">
                <div class="modal-body" style="text-align: center;font-weight: bold;padding: 30px;">
                    <form enctype="multipart/form-data" id="uploadFileForm" method="post" action = "/manage/saveTenantAroundMgrExcel">  
                      <input type="file" name="upload"  id="upload"></input>  
                    </form>
                </div>
                <div class="modal-footer" style="text-align: center;padding: 5px;">
                    <button type="button" class="btn btn-danger btn-xs" id="submitUpload" th:onclick="'uploadFileSubmit()'">确定</button>
                    <button type="button" class="btn btn-default btn-xs" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>
    
     <form id="deleteTenForm" th:action="@{/tenant/tenretired/delete}" method="get">
        <input type="hidden" id="delete-tlId" name="tlId"/>
    </form>
    
    <script type="text/javascript" th:inline="javascript">
     window.onscroll = function(){
            $('.fixedHeader-floating th').css('text-align','center');
    } 
    </script>
</body>
</html>
