body {
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
    background-attachment: fixed;
    background-position: center;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Montserrat', sans-serif;
    
}

li{
	list-style:none;
}

#tenretired_table{
	margin-top:20px;
	border:#CCCCCC solid 1px;
}

#tenretired_table th{
	width:200px;
	border:#CCCCCC solid 1px ;
}

#tenretired_table tr td{
     border:#CCCCCC solid 1px ;
}

#tenretired_table tr td{
    width:100px;
}

.row{
	margin-top:20px;
	margin-bottom:30px;
}

label{
  margin-left:20px;
  margin-top:10px;	
}
 
 .ten-toggle{
   color:black;
   width:30px;
 }
