<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
  <meta charset="UTF-8" />
  <head th:include="frame/common :: header"></head>
  <script type="text/javascript" th:src="@{/js/tenretired.js}"></script>
  <link rel="stylesheet" th:href="@{/css/tenretired.css}"/>
</head>
<body>
     <div class="row" style="margin-left: 100px; margin-top: 30px;"
            role="tabpanel" id="details">
            <div class="form-inline details-search-form ">
                <label>租户：</label>
                  <input type="text" name="tenantName" id="tenantName" class="form-control input-sm" style="height: 34px; width: 180px"  th:value="${tenantName}" />
                <label>平台接口人：</label>
                <input type="text" name="tenantInterface" id="tenantInterface" class="form-control input-sm" style="height: 34px; width: 180px"  th:value="${tenantInterface}"/>
                <button type="button" class="btn btn-danger" style="margin-left:30px;margin-right:30px;" th:onclick="'clickTable()'">查询</button>
                <button type="button" class="btn btn-danger" th:onclick="'cleanSearch()'">清空</button>
                <button class="btn btn-danger export" style="margin-left:90px;margin-right:30px;" th:onclick="'exportFile()'">
                    <i class="layui-icon"></i> 导出
                </button>
            </div>
     </div>
    <!--  <a th:href="@{admin/users/add}"  class="btn btn-danger" style="float: right; margin-right: 150px; margin-top:-20px;margin-bottom:10px;">添加</a>--> 
      <a href="#" class="upload" data-toggle="modal" data-target="#addTenModal">新增</a>
     <table id="tenretired_table" class="table table-bordered table-hover" width="100%">
         <thead>
             <tr style="text-align: center">
                  <th>序号</th>
                 <th>服务类型</th>
                 <th>租户</th>
                 <th>租户级别</th>
                 <th>租户负责人</th>
                 <th>租户负责人联系电话</th>
                 <th>资源类型</th>
                 <th>访问Ip</th>
                 <th>主机数量</th>
                 <th>存储使用量</th>
                 <th>存储使用量单位</th>
                 <th>计算资源</th>
                 <th>机房</th>
                 <th>统一平台数量</th>
                 <th>4A数量</th>
                 <th>需求</th>
                 <th>服务名</th>
                 <th>队列名</th>
                 <th>申请日期</th>
                 <th>开放日期</th>
                 <th>变更时间</th>
                 <th>退租时间</th>
                 <th>平台接口人</th>
                 <th>备注</th>
                 <th>操作</th>
             </tr>
         </thead>
         <tbody>
         </tbody>
    </table>
     <div class="modal fade" id="addTenModal" tabindex="-1" role="dialog" aria-labelledby="addToolModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">新增</h4>
                </div>
                <div class="modal-body" style="padding-left: 20px;">
                    <form id="addTenForm"  class="form-horizontal" method="get">
                        <div class="form-group">
                            <label for="serviceType" class="control-label col-md-2 ">服务类型</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="add-serviceType" name="serviceType" placeholder="请输入服务类型"/>
                            </div>
                        </div>
                          <div class="form-group">
                            <label for="tenantName" class="control-label col-md-2 ">租户名称</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="add-tenantName" name="tenantName" placeholder="请输入租户"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="tenantLevel" class="control-label col-md-2 ">租户级别</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="add-tenantLevel" name="tenantLevel" placeholder="请输入租户级别"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="tenantBoss" class="control-label col-md-2 ">租户负责人</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="add-tenantBoss" name="tenantBoss" placeholder="请输入租户负责人"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="tenantTel" class="control-label col-md-2 ">联系电话</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="add-tenantTel" name="tenantTel" placeholder="请输入联系电话"/>
                            </div>
                        </div>
                        <div class="form-group">
                          <label for="resourceType" class="control-label col-md-2 ">资源类型</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="add-resourceType" name="resourceType" placeholder="请输入资源类型"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="askIp" class="control-label col-md-2 ">访问Ip</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="add-askIp" name="askIp" placeholder="请输入联系电话"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="hostNum" class="control-label col-md-2 ">主机数量</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="add-hostNum" name="hostNum" placeholder="请输入主机数量"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="storage" class="control-label col-md-2 ">存储使用量</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="add-storage" name="storage" placeholder="存储容量"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="storageUnit" class="control-label col-md-2 ">存储使用量单位</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="add-storageUnit" name="storageUnit" placeholder="存储使用量单位"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="computingResourceRate" class="control-label col-md-2 ">计算资源</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="add-computingResourceRate" name="computingResourceRate" placeholder="计算资源"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="computeRoom" class="control-label col-md-2 ">机房</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="add-computeRoom" name="computeRoom" placeholder="输入机房"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="uniplatformNum" class="control-label col-md-2 ">统一平台数量</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="add-uniplatformNum" name="uniplatformNum" placeholder="输入统一平台数量"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="numOf4a" class="control-label col-md-2 ">4A数量</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="add-numOf4a" name="numOf4a" placeholder="输入统4A数量"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="demand" class="control-label col-md-2 ">需求</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="add-demand" name="demand" placeholder="输入需求"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="serviceName" class="control-label col-md-2 ">服务名</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="add-serviceName" name="serviceName" placeholder="输入账号"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="sequenceName" class="control-label col-md-2 ">队列名</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="add-sequenceName" name="sequenceName" placeholder="输入队列名"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="askDate" class="control-label col-md-2 ">申请日期</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="add-askDate" name="askDate" placeholder="输入申请日期"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="openDate" class="control-label col-md-2 ">开放日期</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="add-openDate" name="openDate" placeholder="输入开放日期"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="changeDate" class="control-label col-md-2 ">变更时间</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="add-changeDate" name="changeDate" placeholder="输入变更时间"/>
                            </div>
                        </div>
                         <div class="form-group">
                            <label for="endRentDate" class="control-label col-md-2 ">退租时间</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="add-endRentDate" name="endRentDate" placeholder="输入退租时间"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="tenantInterface" class="control-label col-md-2 ">平台接口人</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="add-tenantInterface" name="tenantInterface" placeholder="输入平台接口人"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="remark" class="control-label col-md-2 ">备注</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="add-remark" name="remark" placeholder="输入备注"/>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" id="addTenBtn">提交</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="addReloadHTML">关闭</button>
                </div>
            </div>
        </div>
    </div>
     <div class="modal fade" id="uploadTenModal" tabindex="-1" role="dialog" aria-labelledby="uploadTenModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">编辑类型</h4>
                </div>
                <div class="modal-body" style="padding-left: 20px;">
                    <form id="updateTenForm"  class="form-horizontal"  method="get">
                       <input id="update-tlId" type="hidden" name="tlId"/>
                         <div class="form-group">
                            <label for="serviceType" class="control-label col-md-2 ">服务类型</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="update-serviceType" name="serviceType" placeholder="请输入服务类型"/>
                            </div>
                        </div>
                          <div class="form-group">
                            <label for="tenantName" class="control-label col-md-2 ">租户名称</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="update-tenantName" name="tenantName" placeholder="请输入租户"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="tenantLevel" class="control-label col-md-2 ">租户级别</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="update-tenantLevel" name="tenantLevel" placeholder="请输入租户级别"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="tenantBoss" class="control-label col-md-2 ">租户负责人</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="update-tenantBoss" name="tenantBoss" placeholder="请输入租户负责人"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="tenantTel" class="control-label col-md-2 ">联系电话</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="update-tenantTel" name="tenantTel" placeholder="请输入联系电话"/>
                            </div>
                        </div>
                        <div class="form-group">
                          <label for="resourceType" class="control-label col-md-2 ">资源类型</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="update-resourceType" name="resourceType" placeholder="请输入资源类型"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="askIp" class="control-label col-md-2 ">访问Ip</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="update-askIp" name="askIp" placeholder="请输入联系电话"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="hostNum" class="control-label col-md-2 ">主机数量</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="update-hostNum" name="hostNum" placeholder="请输入主机数量"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="storage" class="control-label col-md-2 ">存储使用量</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="update-storage" name="storage" placeholder="存储容量"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="storageUnit" class="control-label col-md-2 ">存储使用量单位</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="update-storageUnit" name="storageUnit" placeholder="存储使用量单位"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="computingResourceRate" class="control-label col-md-2 ">计算资源</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="update-computingResourceRate" name="computingResourceRate" placeholder="计算资源"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="computeRoom" class="control-label col-md-2 ">机房</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="update-computeRoom" name="computeRoom" placeholder="输入机房"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="uniplatformNum" class="control-label col-md-2 ">统一平台数量</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="update-uniplatformNum" name="uniplatformNum" placeholder="输入统一平台数量"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="numOf4a" class="control-label col-md-2 ">4A数量</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="update-numOf4a" name="numOf4a" placeholder="输入统4A数量"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="demand" class="control-label col-md-2 ">需求</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="update-demand" name="demand" placeholder="输入需求"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="serviceName" class="control-label col-md-2 ">服务名</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="update-serviceName" name="serviceName" placeholder="输入账号"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="sequenceName" class="control-label col-md-2 ">队列名</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="update-sequenceName" name="sequenceName" placeholder="输入队列名"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="askDate" class="control-label col-md-2 ">申请日期</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="update-askDate" name="askDate" placeholder="输入申请日期"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="openDate" class="control-label col-md-2 ">开放日期</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="update-openDate" name="openDate" placeholder="输入开放日期"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="changeDate" class="control-label col-md-2 ">变更时间</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="update-changeDate" name="changeDate" placeholder="输入变更时间"/>
                            </div>
                        </div>
                         <div class="form-group">
                            <label for="endRentDate" class="control-label col-md-2 ">退租时间</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="update-endRentDate" name="endRentDate" placeholder="输入退租时间"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="tenantInterface" class="control-label col-md-2 ">平台接口人</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="update-tenantInterface" name="tenantInterface" placeholder="输入平台接口人"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="remark" class="control-label col-md-2 ">备注</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="update-remark" name="remark" placeholder="输入备注"/>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" id="updateTenBtn" th:onclick="'click()'">提交</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="updateReloadHTML">关闭</button>
                </div>
            </div>
        </div>
    </div>
      <div class="modal fade" id="alertModal" tabindex="-1" role="dialog" aria-labelledby="alertModalLabel">
        <div class="modal-dialog" role="document" style="width: 350px;">
            <div class="modal-content" style="width: 350px;">
                <div class="modal-body" style="text-align: center;font-weight: bold;padding: 30px;">
                </div>
                <div class="modal-footer" style="text-align: center;padding: 5px;">
                    <button type="button" class="btn btn-danger btn-xs" id="removeTool">确定</button>
                    <button type="button" class="btn btn-default btn-xs" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>
     <form id="deleteTenForm" th:action="@{/tenant/tenretired/delete}" method="get">
        <input type="hidden" id="delete-tlId" name="tlId"/>
    </form>
    <script type="text/javascript" th:inline="javascript">
     window.onscroll = function(){
            $('.fixedHeader-floating th').css('text-align','center');
    } 
    </script>
</body>
</html>
